@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f9;
  --foreground: #14181f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

#gauge-chart .gauge-needle {
  display: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Archivo", serif;
  font-size: 14px;
}
